.Puzzle {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #513131;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #513131;
}

h1 {
    font-size: 36px;
    margin-bottom: 5px;
    color: white;
}

.level {
    font-size: 20px;
    margin: 5px 0;
    color: white;
}

.word {
    font-size: 24px;
    margin: 10px 0;
    color: white;
}

input[type="text"] {
    font-size: 18px;
    padding: 10px;
    width: calc(100% - 22px);
    margin-bottom: 20px;
}

.button1 {
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: #f3f3f3;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
}
.congrat-color{
    color: white;
}
.current-color{
    color: white;
}