.step{
    text-align: justify;
    margin-inline-start: 30px;
}
.up{
    text-align: justify;
    margin-inline-start: 20px;
} 
.mar{
    text-align: justify;
    margin-inline-start: 70px;
}
.third{
    border-radius: 20px ;
}
